@import "_mixins";
@import "_variables";

footer.social {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 3;

  &.home-page {
    flex-direction: column;
    width: 80px;

    a {
      color: white;
    }
  }
}